html, body {
  margin:0;
  height:100%;
  min-height:100%;
  font-family: Helvetica, Verdana, Arial, Sans-serif;
}

ul {
	line-height: 26px;
	margin: 0px;
	padding: 0px;
}

#errorMsg {
	position: fixed;
	width: 400px;
	top: 30%;
	left: calc(50% - 200px);
	color: #FF4136;
	font-weight: bold;
	font-size: 30px;
	padding: 30px;
	border: 8px solid #FF4136;
	border-radius: 8px;
	background-color: white;
	opacity: 0.9;
}

#iframeContent {
  height: calc(100% - 42px);
  width: 100%;
}

#queryMsg {
	padding-left: 300px;
}

#queryMsg-status.matched {
	background-color: #2ECC40;
}

#queryMsg-status.unmatched {
	background-color: #FF4136;
}

#queryMsg-status {
	font-size: 12px;
	padding: 4px;
	border-radius: 4px;
	color: white;
	margin-right: 15px;
}

#command-bar {
	box-sizing: border-box;
	height: 42px;
	background-color: #333333;
	padding: 6px 8px 6px 8px;
}

#command-bar li, #command-bar a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

#command-bar li {
	display:inline;
}
#command-bar a {
	line-height:26px;
	padding-right: 20px;
}

#command-bar a:hover {
	color: yellow;
	text-decoration: underline;
}